
.container{
    padding:250px  790px;
}
 .master{
     background-image: url('cuties.jpg');
     height:900px;
     margin: -120px -250px;
 }

 .info{
     font-size: 12px;
     border-radius: 20px;
     color:#fff;
     background-color:#000;
     margin:10px 8px;
     height: 100px;
     width:520px;
     font-family:DIN, Helvetica, Arial, sans-serif;
     text-align: center;
 }

input{
    margin-left: 150px;
    width:220px;
    height: 40px;
    border-radius:12px;
}

button{
    color: white;
    background: black;
     border: 1px black solid;
    margin:10px 0px 0px 230px;

    cursor: pointer;
    border-radius:30px;
    height:25px;
    width:60px;
}



@media(max-width:600px){
    input{
        margin-left: -420px;
    }
    button{
       margin:10px 0px 0px -2px ;
    }
    .master{
        background-position:top
    }
    .info{
        margin:10px -420px;
        width: 250px;
    }
}